body {
  margin: 0;
  padding: 0;
}
a:hover {
  color: green !important;
}

body {
  color: grey;
}
.col-md-4 {
  padding: 5px;
}

.col-md-5 img {
  width: 300px;
}

.col-md-7 h1 {
  display: inline;
  color: black;
}

.special {
  display: inline;
  font-size: 35px;
  text-transform: uppercase;
}

.col-md-7 p {
  margin-top: 10px;
  width: 75%;
  line-height: 30px;
}

li {
  line-height: 40px;
}

.col-md-3 img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h6 {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.col-md-3 p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.klik {
  text-decoration: none;
  color: grey;
}

.col-md-3 .head {
  font-size: 25px;
  letter-spacing: 3px;
}

.col-md-2 #head {
  text-transform: uppercase;
  font-weight: bold;
}

.col-md-2 p {
  font-size: 15px;
}

footer {
  font-size: 15px;
}
footer a {
  text-decoration: none;
  color: green;
}
